# Trash
.DS_Store
Thumbs.db

# Ansible
**.vault-password
provision/ansible/inventory/generated.*

# Terraform
provision/terraform/**/.terraform.tfstate*
provision/terraform/**/terraform.tfstate*
provision/terraform/**/.terraform
**.tfvars

# Others
# .doppler*
