# Trash
.DS_Store
Thumbs.db

# Ansible
**.vault-password
provision/ansible/inventory/generated.*
# In case submodule doesn't get initialized
provision/k3s-ansible/inventory/generated.*
provision/ansible/ansible.log

# Terraform
provision/terraform/**/.terraform.tfstate*
provision/terraform/**/terraform.tfstate*
provision/terraform/**/.terraform
**.tfvars

# Others
!.vscode/settings.json
!.vscode/extensions.json
