ansible>=9.1.0          # https://pypi.org/project/ansible/
ansible-core>=2.16.1    # https://pypi.org/project/ansible-core/
ansible-lint>=6.22.1    # https://pypi.org/project/ansible-lint/
molecule-vagrant>=2.0.0 # https://pypi.org/project/molecule-vagrant/
molecule>=6.0.2         # https://pypi.org/project/molecule/
requests>=2.31.0        # https://pypi.org/project/requests/
proxmoxer>=2.0.1        # https://pypi.org/project/proxmoxer/
yamllint>=1.33.0        # https://pypi.org/project/yamllint/
openshift>=0.13.2       # https://pypi.org/project/openshift/
github3.py>=4.0.1       # https://pypi.org/project/github3.py/
jmespath>=1.0.1         # https://pypi.org/project/jmespath/
jsonpatch>=1.33         # https://pypi.org/project/jsonpatch/
kubernetes>=28.1.0      # https://pypi.org/project/kubernetes/
netaddr>=0.9.0          # https://pypi.org/project/netaddr/
pre-commit>=3.5.0       # https://pypi.org/project/pre-commit/
pre-commit-hooks>=4.5.0 # https://pypi.org/project/pre-commit-hooks/
pyyaml>=6.0.1           # https://pypi.org/project/pyyaml/
# Fix bug -> https://discourse.prefect.io/t/what-may-be-the-cause-of-this-error-attributeerror-module-lib-has-no-attribute-x509-v-flag-cb-issuer-check/831/5
pyOpenSSL>=23.3.0       # https://pypi.org/project/pyOpenSSL/
