---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/helm.toolkit.fluxcd.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: unifi-poller
  namespace: default
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 1.5.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    createNamespace: true
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  values:
    image:
      repository: ghcr.io/unpoller/unpoller
      tag: v2.8.1
    env:
      TZ:
        valueFrom:
          secretKeyRef:
            name: common-secrets
            key: TZ
      UP_UNIFI_DEFAULT_ROLE: "homelab-controller"
      UP_UNIFI_DEFAULT_URL: "https://unifi:8443"
      UP_UNIFI_DEFAULT_VERIFY_SSL: false
      UP_UNIFI_DEFAULT_USER:
        valueFrom:
          secretKeyRef:
            name: unifi-poller-secrets
            key: UNIFI_POLLER_USER
      UP_UNIFI_DEFAULT_PASS:
        valueFrom:
          secretKeyRef:
            name: unifi-poller-secrets
            key: UNIFI_POLLER_PASS
      UP_INFLUXDB_DISABLE: true
    service:
      main:
        ports:
          http:
            enabled: false
          metrics:
            enabled: true
            protocol: TCP
            port: 9130
    serviceMonitor:
      main:
        enabled: true
        endpoints:
          - port: metrics
            path: /metrics
            scheme: http
            interval: 2m # Unifi API only polls at 2m intervals
            scrapeTimeout: 30s
    resources:
      requests:
        cpu: 10m
        memory: 100Mi
      limits:
        memory: 500Mi
