---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: syncthing
spec:
  interval: 1h
  chart:
    spec:
      chart: app-template
      version: 2.3.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      interval: 1h
  install:
    createNamespace: true
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  values:
    controllers:
      main:
        containers:
          main:
            image:
              repository: syncthing/syncthing
              tag: 1.26.1 # https://github.com/syncthing/syncthing/releases
            resources:
              requests:
                cpu: 15m
                memory: 249Mi
              limits:
                memory: 265Mi
            env:
              TZ:
                valueFrom:
                  secretKeyRef:
                    name: common-secrets
                    key: TZ
              PUID: '568'
              PGID: '568'
    service:
      main:
        annotations:
          external-dns.alpha.kubernetes.io/hostname: syncthing.shaklab.com, sync.shaklab.com
          external-dns.alpha.kubernetes.io/target: ipv4.shaklab.com
        ports:
          http:
            port: 8384
      listdisc:
        enabled: true
        controller: main
        type: LoadBalancer
        loadBalancerIP: "10.10.0.88"
        annotations:
          external-dns.alpha.kubernetes.io/hostname: sync-lb.shaklab.com, syncthing-lb.shaklab.com
          external-dns.alpha.kubernetes.io/target: 10.10.0.88
          external-dns.alpha.kubernetes.io/cloudflare-proxied: "false"
        ports:
          discovery:
            enabled: true
            port: 21027
            protocol: UDP
          listen:
            enabled: true
            port: 22000
            protocol: TCP
    persistence:
      config:
        enabled: true
        existingClaim: syncthing-config
        globalMounts:
          - path: /var/syncthing/config
      nfs-nas-syncthing-data:
        enabled: true
        server: 10.10.0.2
        type: nfs
        path: /volume1/docker/data/media/syncthing
        globalMounts:
          - path: /var/syncthing/nfs-data
      nfs-nas-syncthing-photos:
        enabled: true
        server: 10.10.0.2
        type: nfs
        path: /volume1/docker/data/media/photos/Sami/Syncthing
        globalMounts:
          - path: /var/syncthing/photos
