---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/helm.toolkit.fluxcd.io/helmrelease_v2beta1.json
apiVersion: source.toolkit.fluxcd.io/v1beta2
kind: HelmRepository
metadata:
  name: prometheus-community-charts
  namespace: flux-system
spec:
  type: oci
  interval: 30m
  url: oci://ghcr.io/prometheus-community/charts
