#!/bin/bash

#######################################
### THIS FILE IS MANAGED BY ANSIBLE ###
###    PLEASE MAKE CHANGES THERE    ###
#######################################

# All containers (see media-services.txt) that access mounts set to NOT restart automatically at boot time.
# This script checks the required mounts every 5 seconds and as soon as required drives are mounted, it starts the "media" containers.

# CHECKING FOR DRIVE MOUNTS
videos="${HOME}/mount/video"
downloads="${HOME}/mount/downloads"

mounted=0
rounds=0

while [ "$mounted" -eq 0 ]
do
  if mount | grep "${videos}" > /dev/null; then
    mounted=$((mounted+1))
  fi
  if mount | grep "${downloads}" > /dev/null; then
    mounted=$((mounted+1))
  fi
  if [[ "$mounted" -ne 2 ]]; then
    mounted=0
  fi
  sleep 5
  rounds=$((rounds + 1))
  sudo mount -a
  #echo -e "$rounds\n"

    # Timeout if mounting is not successful after 5 min
    if [[ "$rounds" -eq 60 ]]; then
      break
    fi
done

seconds=$((rounds * 5))

if [[ "$mounted" -eq 2 ]]; then
  echo -e "All drives mounted properly after $seconds seconds.\n\nStarting media containers." > mail.txt
  ./email.sh
  sudo docker start "$(cat /home/USER/docker/scripts/media-services.txt)"
else
  echo "Not all drives mounted after reboot. Timed out after $seconds seconds. Please investigate. Stopping all containers..." > mail.txt
  ./email.sh
  sudo docker stop "$(cat /home/USER/docker/scripts/media-services.txt)"
fi
